RewriteEngine On
RewriteRule ^$ ./public/index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ core/views/erro.php?url=$1 [NC,L]

<FilesMatch "\.json$">
    Deny from all
</FilesMatch>

<FilesMatch "\.lock$">
    Deny from all
</FilesMatch>