@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.33rem;
}

:root {
    --bg-color: #f1f1f1;
    --card-bg-color: #ffffff;
    --primary-color: #4CAF50; 
    --secondary-color: #81C784; 
    --input-bg-color: #FFFFFF; 
    --input-text-color: #555555; 
    --placeholder-color: #888888; 
    --btn-bg-color: #4CAF50; 
    --btn-text-color: #FFFFFF; 
    --btn-hover-bg-color: #388E3C; 
    --btn-hover-text-color: #fffefe; 
    --shadow-color: rgba(0, 0, 0, 0.1); 
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 0 6.65vw;
    box-sizing: border-box;
}

.left-login, .right-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100%;
    padding: 0 3.325vw;
    box-sizing: border-box;
}

.title {
    color: var(--secondary-color);
    margin: 0;
    font-size: 2rem;
}

.card-login {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 46.65px;
    background-color: var(--card-bg-color);
    border-radius: 26px;
    box-shadow: 0px 13px 53px var(--shadow-color);
}

.card-login > h1 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 13px 0;
    width: 100%;
}

.textfield > label {
    color: var(--input-text-color);
    margin-bottom: 13px;
    font-size: 1.33rem;
}

.textfield > input {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 13px;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    font-size: 1.33rem;
    box-shadow: 0px 13px 53px var(--shadow-color);
    box-sizing: border-box;
}

.textfield > input::placeholder {
    color: var(--placeholder-color);
}

.btn-login {
    width: 100%;
    padding: 21px 0;
    margin: 33px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 1.33rem;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 13px 53px var(--shadow-color);
}

.btn-login:hover {
    background-color: var(--btn-text-color) ;
    color: var(--btn-bg-color) ;
}

@media (max-width: 768px) {
    .main-login {
        flex-direction: column;
        padding: 0 2.67vw;
    }

    .left-login, .right-login {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .card-login {
        width: 80%;
    }
}
