@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --bg-color: linear-gradient(135deg,#7ca2ca,#2563eb,#0c1be9);
    --card-bg-color: #ffffff;
    --primary-color: #2563eb;
    --secondary-color: #3b82f6;
    --text-color: #1f2937;
    --placeholder-color: #6b7280;
    --btn-bg-color: #2563eb;
    --btn-text-color: #ffffff;
    --caixa:#1c3d70;
    --shadow-color: rgba(0, 0, 0, 0.05);
    --header-bg-color: #ffffff;
    --heading-font-size: 2.5rem;
    --body-font-size: 1rem;
    --input-font-size: 1rem;
    --button-font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  margin: 0;
}

.container {
  width: 70%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
  border-radius: 20px;
  background-color: var(--btn-text-color);
  padding: 3rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 7px 0 0 7px;
}

.cabeca {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.titulo {
  color: var(--text-color);
}

.titulo::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.cadastro button {
  border: none;
  background-color: var(--caixa);
  padding: 0.6rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
  font-size: 1rem;
  transition: all .8s ease;
}

.cadastro button:hover {
  color: var(--caixa);
  background-color: #fff;
  border: 1px solid var(--caixa);
}

.grupo_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.caixa {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.caixa input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000003f;
  font-size: 1.1rem;
  width: 100%;
  box-sizing: border-box;
}

.caixa input:focus-visible {
  outline: 1px solid var(--secondary-color);
}

.caixa label {
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.caixa input::placeholder {
  color: #000000be;
}

.eye {
  color: var(--secondary-color);
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: grid;
  place-items: center;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-senha {
  display: flex;
  width: 100%;
  height: 100%;
}

#senha {
  padding-right: 30px;
  width: 400%;
}

.olho {
  width: 20%;
  display: grid;
  place-items: center;
  transform: translateX(-220%);
}

#idmostrar-senha {
  position: absolute;
  background-color: transparent;
  height: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.entrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.entrar button {
  width: 100%;
  border: none;
  background-color: var(--caixa);
  padding: 0.62rem;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: all .5s ease;
}

.entrar button:hover {
  color: var(--caixa);
  background-color: #fff;
  border: 2px solid var(--caixa);
}

a {
  text-decoration: none;
  color: var(--text-color);
  text-align: center;

}

p {
  cursor: pointer;
}

@media screen and (max-width: 1330px) {
  .container {
    margin-top: 2%;
    width: 100%;
    flex-direction: column;
    height: 100%;
  }

  .form {
    width: 100%;
    border-radius: 7px;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .form {
    width: 100%;
    border-radius: 7px;
  }
}
