* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 18cm;
    padding: 1.5cm;
    font-family: 'Arial', sans-serif;
    font-size: 11pt;
    color: #333;
    background: #fff;
    line-height: 1.6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1cm;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5cm;
}

header .linha {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .nomes {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

header .data {
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

header .nomes h3, header .data h3 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 12pt;
}

main {
    width: 100%;
}

.gabarito-cod {
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 1.5cm;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.gabarito-cod h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 14pt;
    font-weight: bold;
    color: #333;
}

.gabarito {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.5cm;
}

.gabarito table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.gabarito th, .gabarito td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.gabarito th {
    background-color: gray;
    color: #ffffff;
    font-weight: bold;
}

.gabarito td {
    background-color: #f9f9f9;
}

.opc {
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: auto;
}

.questoes-pagina {
    page-break-before: always;
    margin-top: 0;
}

.questoes {
    margin-top: 2cm;
}

.enunciado {
    margin-bottom: 1.5cm;
    margin-top: -50px;
}

.enunciado p {
    font-weight: bold;
    font-size: 12pt;
    margin-right: 5px;
}

.enunciado div {
    margin-left: 25px;
}

.alternativas {
    margin-left: 30px;
}

.alternativas ul {
    list-style: none;
    padding: 0;
}

.alternativas li {
    margin-bottom: 5px;
}

.codigo {
    width: 50%;
    margin: auto;
    text-align: center;
}
