* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 18cm;
    padding: 1.5cm;
    font-family: 'Arial', sans-serif;
    font-size: 11pt;
    color: #333;
    background: #f4f4f9;
    line-height: 1.6;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5cm;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5cm;
}

header .nome, header .data {
    width: 45%;
}

header .nome p, header .data p {
    margin: 5px 0;
    font-weight: bold;
    font-size: 12pt;
}

main {
    width: 100%;
}

.gabarito-cod {
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 1.5cm;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.gabarito-cod h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 14pt;
    font-weight: bold;
    color: #333;
}

.gabarito {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-bottom: 1.5cm;
}

.gabarito table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.gabarito th, .gabarito td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.gabarito th {
    background-color: gray;
    color: #ffffff;
    font-weight: bold;
}

.opc {
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: auto;
}

.questoes {
    page-break-before: always;
    margin-top: 2cm;
}

.questao {
    margin-bottom: 1.5cm;
}

.questao p {
    margin: 10px 0;
    text-align: justify;
    line-height: 1.8;
}

.alt p {
    margin-left: 20px;
    text-indent: -20px;
    margin-bottom: 5px;
}
