* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-color: linear-gradient(135deg, #7ca2ca, #2563eb);
    --card-bg-color: #ffffff;
    --primary-color: #2563eb;
    --secondary-color: #3b82f6;
    --text-color: #1f2937;
    --placeholder-color: #6b7280;
    --btn-bg-color: #2563eb;
    --btn-text-color: #ffffff;
    --shadow-color: #0000001a;
    --header-bg-color: #ffffff;
    --modal-bg-color: #00000099;
    --border-radius: 12px;
    --transition-duration: 0.4s;
    --max-width: 1200px;
    --caixa:#1c3d70;
}

body {
    width: auto;
    max-width: 100vw;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--btn-text-colorr);
}

header {
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--caixa);
    box-shadow: 0 2px 4px var(--shadow-color);
    position: sticky;
    top: 0;
    z-index: 100;
    color: var(--btn-text-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}
header .logo {
    width: 50px;
    height: 50px;
}

header img {
    width: 100%;
    height: 100%;
    margin-left: -8px;
}

.hp {
    margin-left: -270px;
}

header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header nav ul li a {
    color: var(--btn-text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: white;
    transition: .4s;
}

header nav > a {
    padding: 0.5rem 1rem;
    color: var(--btn-text-color);
    background-color:red ;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);
    text-decoration: none;
    transition: .4s;
}

header nav > a:hover {
    background-color: var(--secondary-color);
}

main {
    width: 100%;
    height: max-content;
    padding: 20px;
}

main .provas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

main .provas .prova {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: var(--card-bg-color);
    box-shadow: 0px 4px 10px var(--shadow-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
}

.QuestProva {
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.QuestProva .folha {
    width: 80%;
    height: 100%;
    background-color: var(--card-bg-color);
    border: 1px solid var(--caixa);
    border-radius: 20px;
    position: relative;
}

.QuestProva .folha #fechar {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid var(--modal-bg-color);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.QuestProva .folha .main-prova {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow: auto;
    padding: 12px 32px;
    gap: 40px;
}

.QuestProva .folha .main-prova .gabarito {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: none;
}

.QuestProva .folha .main-prova .gabarito table{
    height: min-content;
    border-collapse: collapse;
    flex: none;
}

.QuestProva .folha .main-prova .gabarito table th, .QuestProva .folha .main-prova .gabarito table td {
    border: 1px solid black;
    padding: 6px;
    flex: none;
}

.QuestProva .folha .main-prova .gabarito table td .opc {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50%;
}

.QuestProva .folha .main-prova .questoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.QuestProva .folha .main-prova .questoes .questao {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.QuestProva .folha .main-prova .questoes .questao .img {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.QuestProva .folha .main-prova .questoes .questao .img img {
    max-width: 50%;
}

.QuestProva .folha .opcoes {
    width: 100%;
    height: 10%;
    border-top: 1px solid var(--caixa);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
}

.QuestProva .folha .opcoes button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.QuestProva .folha .opcoes button.emitir {
    border: 1px solid var(--modal-bg-color);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
}

.QuestProva .folha .opcoes button.gerarPDF {
    cursor: pointer;
    background-color: red;
    color: var(--btn-text-color);
}