* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-color: linear-gradient(135deg, #7ca2ca, #2563eb);
    --card-bg-color: #ffffff;
    --primary-color: #2563eb;
    --secondary-color: #3b82f6;
    --text-color: #1f2937;
    --placeholder-color: #6b7280;
    --btn-bg-color: #2563eb;
    --btn-text-color: #ffffff;
    --shadow-color: #0000001a;
    --header-bg-color: #ffffff;
    --modal-bg-color: #00000099;
    --border-radius: 12px;
    --transition-duration: 0.4s;
    --max-width: 1200px;
    --caixa: #1c3d70;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    background: var(--bg-color);
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.folha {
    width: 21cm;
    margin: 20px auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    page-break-after: always;
    overflow: hidden;
    position: relative;
}

header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nomes h3, .data h3 {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}

.codigo h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: var(--text-color);
}

.main-prova {
    margin-top: 20px;
}

.gabarito {
    margin-bottom: 30px;
}

.gabarito table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    table-layout: fixed;
    border: 1px solid #ddd;
}

.gabarito thead {
    background-color: gray;
    color: var(--btn-text-color);
}

.gabarito th, .gabarito td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    width: 12.66%;
}

.gabarito tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.gabarito tbody tr:hover {
    background-color: #f1f1f1;
}

.gabarito .opc {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
}

.questoes {
    margin-bottom: 30px;
}

.enunciado {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.enunciado p {
    margin-right: 10px;
    font-weight: bold;
    min-width: 2em;
}

.alternativas ul {
    list-style-type: none;
    padding: 0;
}

.alternativas li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.alternativas li::before {
    content: attr(data-letter);
    font-weight: bold;
    margin-right: 10px;
}

.alternativas input[type="radio"] {
    margin-left: 10px;
}

